---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { Icon } from "astro-icon/components";

export interface Props {
  site: CollectionEntry<"projects">;
}

const { site } = Astro.props;

const widths = [400, 700];
const sizes = "(min-width: 1024px) 33vw, (min-width: 768px) 50vw, 100vw";
---

<div class="mb-10 grid items-center gap-4 lg:grid-cols-5">
  <div class="group col-span-3 aspect-video hover:!text-default lg:col-span-2">
    <figure class="relative h-full w-full overflow-hidden rounded-lg">
      <Image
        class="h-full w-full bg-cover object-cover opacity-95 transition-all duration-300 group-hover:scale-110 group-hover:opacity-100 group-focus:scale-110"
        src={site.data.image}
        widths={widths}
        sizes={sizes}
        alt={`A screenshot of ${site.data.url}`}
      />
    </figure>
  </div>
  <div class="col-span-3">
    <h2 class="font-bold text-lg">{site.data.title}</h2>
    <div class="flex gap-2 items-center mt-2">
      {site.data.technologies.map((tech) => (
        <button class="rounded-2xl bg-indigo-600 px-3 py-1 text-xs/3 flex items-center gap-2">
          <Icon name={tech.icon} class="size-4" />
          {tech.name}
        </button>
      ))}
    </div>
    <p class="mt-4 text-gray-400 text-xs">{site.data.description}</p>
    <div class="mt-4">
      <button
        class="rounded-lg border border-gray-500 bg-gray-700 px-4 py-1 text-white transition-colors duration-500 text-xs hover:text-indigo-400"
      >
        <a
          class="flex items-center justify-center gap-1"
          href={site.data.url}
          target="_blank"
        >
          <Icon name="mdi:linkedin" class="size-5" />
          Detalles
        </a>
      </button>
      {
        site.data.link.value && (
          <button class="duration-400 rounded-lg border border-gray-500 bg-gray-700 px-4 py-1 text-white transition-colors text-xs hover:text-indigo-400">
            <a
              class="flex items-center justify-center gap-1"
              href={site.data.link.value}
              target="_blank"
            >
              <Icon name={site.data.link.icon} class="size-5" />
              {site.data.link.name}
            </a>
          </button>
        )
      }
    </div>
  </div>
</div>
